@import url('reset.css');

body {
  background: linear-gradient(-45deg, #000000, #696969, #ffffff, #a8a8a8);
  background-size: 400% 400%;
  background-color: rgb(211, 211, 211);

  animation: change 10s ease-in-out infinite;
}


.wrapper {
  width: 1400px;
  margin: 0 auto;
}

/*---------- kv block --------- */
.kv {
  height: 600px;
  margin-top: 200px;
  margin-left: 100px;
}

.kv h3 {
  font-weight: lighter;
  font-size: 20px;
}

.kv h1 {
  font-size: 100px;
  line-height: 90px;
}

.kv h1 span {
  font-size: 30px;
}

.kv li {
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}


/* --------- button block ----------------*/
.box-1 {
}

.btn {
  display: block;
  text-decoration: none;
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.btn-one {
    color: #000;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  /* ------ bg animation ------ */
  @keyframes change {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  } 

  /* @media screen and (max-width: 1200px) {
    .kv {
      height: 500px;
      margin-top: 200px;
      margin-left: 100px;
    }

    .kv .kv-btn {
      float: left;
    }
  }

  @media screen and (max-width: 414px) {
    .kv li{
      float: none;
    }
  } */